git@github.com:vim-scripts/The-NERD-tree.git
##git@github.com:vim-scripts/taglist.vim.git
git@github.com:altercation/vim-colors-solarized.git
git@github.com:tomasr/molokai.git
git@github.com:larssmit/vim-getafe.git
git@github.com:vim-scripts/vim-erlang-skeleteons.git
git@github.com:vim-scripts/Erlang_detectVariable.git
git@github.com:hcs42/vim-erlang.git
