## window manager
git@github.com:vim-scripts/The-NERD-tree.git
git@github.com:vim-scripts/taglist.vim.git
git@github.com:vim-scripts/Conque-Shell.git

## color scheme
git@github.com:nelstrom/vim-blackboard.git
git@github.com:tomasr/molokai.git
git@github.com:larssmit/vim-getafe.git

## programme ide
## git@github.com:vim-ruby/vim-ruby.git
git@github.com:oscarh/vimerl.git

## vim utils
git@github.com:tpope/vim-fugitive.git
git@github.com:tpope/vim-surround.git
git@github.com:tpope/vim-repeat.git
git@github.com:vim-scripts/grep.vim.git
git@github.com:tpope/vim-abolish.git
git@github.com:terryma/vim-multiple-cursors.git
